aiofiles
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
Authlib
beautifulsoup4
boto3
certifi
cffi
charset-normalizer
click
colorama
cryptography
dataclasses-json
distro
dnspython
docx2txt
exceptiongroup
faiss-cpu
fastapi
fpdf
frozenlist
google-search-results
greenlet
h11
httpcore
httptools
httpx
idna
jq
jsonloader
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langsmith
marshmallow
multidict
mypy-extensions
networkx
numpy
openai
Openpyxl
orjson
packaging
pandas
pypdf
pycparser
pydantic
pydantic_core
python-dateutil
python-docx
python-dotenv
python-multipart
python-pptx
pytz
PyYAML
regex
requests
six
sniffio
soupsieve
SQLAlchemy
starlette
tenacity
TextLoader
tiktoken
tqdm
typing-inspect
typing_extensions
tzdata
unstructured
urllib3
uvicorn
validators
wasabi
watchfiles
weaviate-client
websockets
wikipedia
yarl
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
markdown
